.content-wrapper {
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.searc-select {
  margin: 3% 0;
  clear: both;
  text-align: left;
}
.searc-select select {
  padding: 1% 2%;
  font-size: 100%;
  background-color: #fff;
  color: #333;
  outline: none;
  text-align: left;
  border: 1px solid #f0f0f0;
}

.content-header {
  height: 30px;
  line-height: 30px;
  background-color: #f0f0f0;
  padding: 2%;
  /*border-bottom: 1px solid #e0e0e0;*/
  overflow: hidden;
}
.header-right {
  width: 50%;
  float: right;
  text-align: right;
}
.header-left {
  width: 50%;
  float: left;
}
.content-header a {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #fff;
}
.content-body {
  padding: 2%;
}
.oTable, .oTablePastHires, .oNewRateTable, .oNewRateTable table, .oReportTable {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    text-align: left;
    font-size: 85%;
    line-height: 1.7;
}
.oJobClosed td {
  text-align: left;
  padding: 3% 0;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
}
.oJobClosed td a {
  color: #2ecc71;
  /*font-size: 80%;*/
}
/*.oTable td, .oTablePastHires td, .oNewRateTable td, .oReportTable td {
    border: 1px solid #e0e0e0;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding: 14px 11px 7px;
    background-color: #fff;
    text-align: left;
}*/
