li {
	list-style: none;
	text-decoration: none;
}
.margin-top-bottom{
    margin:20px 0 80px 0;   
 }
.job-posting-container .job-posting .job-posting-top-bottom {
	margin:0px 0 25px 0;
 }
 .job-posting-container .job-posting{
 	background: white;
    height: auto;
    margin-top: 120px;
    padding:20px;
    box-shadow: 1px 3px 18px -4px;
 } 
.job-posting-container .job-posting table{
    width: 100%;
}
.job-posting-container .job-posting .job-posting-bottom-line{
	width: auto;
	border-bottom: 3px solid #d8d8d8;
    padding: 0px 0 25px 0px;
}
.job-posting-container .job-posting h2{
    display: inline;
    box-shadow: 0px 1px 1px 0px;
    padding: 6px;
}
.job-posting-container .job-posting table tbody img{
	border-radius:20px;
	margin: 26px 16px 3px 1px; 
}
.job-posting-container .job-posting table th,
.job-posting-container .job-posting table td{
	width: 10%;
	padding: 5px 0 5px 0;
	text-align:center;
}
.job-posting-container .job-posting table th:first-child,
.job-posting-container .job-posting table td:first-child{
	width: 60%;
	text-align:left;
}
.job-posting-container .job-posting .pagging ul li{
	display: inline;
}
.job-posting-container .job-posting .pagging ul li::after { 
    content:">";

}
.job-posting-container .job-posting .pagging ul :last-child li::after {
    background: #ff0000;
    content:".";
}
.job-posting-container .job-posting .btn-input-field-text{
	height: 30px;
	text-align: center; 
    color: white;
    font-weight:bold;
}
.job-posting-container .job-posting .btn-job-post {
	background: rgb(95, 207, 128);
	border-radius: 10px;
	padding: 5px;
}
.job-posting-container .job-posting .search-input-field {
	border:2px solid #8a8787;
	border-radius: 10px;
	color: #585656;
	text-align: left!important;
}
.job-posting-container .job-posting .inline{
	display: inline-block;
}

