.box-wrapper {
  text-align: center;
  padding: 3% 0;
}
.title-box {
  height: 20vh;
  line-height: 1.7;
}
.box-wrapper h1 {
  font-size: 240%;
  line-height: 1.5;
  margin: 3% 0 0 0;
}
/*--- Box Header Styling ---*/
.box-header {
  /*border-bottom: 1px solid #e1e1e1;*/
  overflow: hidden;
}
.box-header ul {
  list-style-type: none;
  overflow: hidden;
  width: 42.5%;
  margin: 3% 0 0 0;
  text-align: center;
}
.box-header ul li {
  float: left;
  border-bottom: #fff;
  padding: 5% 7%;
}
.box-header ul li a {
  color: #333;
}
.box-header ul li a:hover {
  color: #2ecc71;
}
/*--- Box Body ---*/
.box-body {
  padding: 2% 0%;
  background-color: #fff;
}
.active_a {
  background-color: #fff;
}
.learn-box-1, .learn-box-2 {
  height: 100%;
  padding: 8% 7%;
  overflow: hidden;
  margin: 0px;
  position: relative;
}
.learn-box-1 .box-1-media {
  float: left;
  width: 40%;
  box-sizing: border-box;
}
.learn-box-1 .box-1-media img {
  width: 100%;
  box-sizing: border-box;
}
.learn-box-1 .box-1-content {
  float: left;
  width: 58%;
  line-height: 1.7;
  margin-left: 2%;
  text-align: left;
}
.learn-box-2 .box-1-media {
  float: right;
  width: 40%;
  box-sizing: border-box;
}
.learn-box-2 .box-1-media img {
  width: 100%;
  box-sizing: border-box;
}
.learn-box-2 .box-1-content p {
  margin: 5% 0 0 0;
}
.learn-box-1 .box-1-content p {
  margin: 5% 0 0 0;
}
.learn-box-2 .box-1-content {
  float: right;
  width: 58%;
  line-height: 1.7;
  margin-right: 2%;
  text-align: left;
}
