.title {
    padding: 85px 0px;	
    text-align: center;
}

.wrapper {
	width: 850px;
	margin: auto;
	padding-bottom: 120px
}
.plan-wrapper {
    width: 100% ! important;
}

.button.five {
	color: #393939;
    font-size: 14px;
    padding: 13px 38px;
    border-radius: 3px;
    white-space: nowrap;
    background: #f3f3f3;
    transition: all 0.3s ease;
}

a.button.five {
	color: #5fcf80;
    text-decoration: none;
}

.plan {
    border-radius: 5px;
    background: #fff;
	position: relative;
    margin-right: 5%;
    margin-bottom: 5%;
    float: left;
    padding: 0px;
    width: 27%
}

.plan:last-of-type {
	margin-right: 0px !important;
}

.button.five:hover {
    color: #fff;
    background: #5fcf80;
}

a.button.five:hover {
    text-decoration: none;
}

.plan-price {
    font-size: 50px !important;
}